sudo: false
os:
  - linux
language: python
python:
  - 3.6
install:
  - pip install pipenv
  - pipenv install --dev --skip-lock
  - pipenv run pip install codecov
script:
  - pytest --cov
after_success:
  - codecov
notifications:
  email:
    on_success: never
    on_failure: always
