[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
construct = "*"
multidict = "*"
attrs = "*"
"lz4" = "*"

[dev-packages]
ptpython = "*"
"flake8" = "*"
Sphinx = "*"
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
pytest-sugar = "*"
sphinxcontrib-napoleon = "*"
Flask-Sphinx-Themes = "*"
black = "*"
sphinx-autodoc-typehints = "*"
codacy-coverage = "*"
twine = "*"
isort = "*"
sphinxcontrib-mermaid = "*"
pytest-xdist = "*"
hypothesis = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
tests = "pytest -rc ./tests -n 4"
tests-cov = "pytest -rc ./tests -n 4 --cov"
make-docs = "make -C ./docs html"
clean-docs = "make -C ./docs clean"
open-docs = "python -mwebbrowser ./docs/build/html/index.html"
black = "black ./bethesda_structs"
isort = "isort -rc ./bethesda_structs"
profile = "bash profile.sh"
