[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
construct = "*"
multidict = "*"
attrs = "*"

[dev-packages]
ptpython = "*"
"flake8" = "*"
Sphinx = "*"
sphinx-autodoc-typehints = "*"
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
pytest-sugar = "*"
Flask-Sphinx-Themes = "*"

[requires]
python_version = "3.6"
